/* Gradient blue color */
.gradient-custom-2 {
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  /* fallback for old browsers */
  background: #3d99be;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

#btn-login:hover {
    background: linear-gradient(to right, #349e9b 0%, #2f7996 31%, #392152 100%);
}
  